# Daily transformation at 2:00 AM
0 2 * * * root cd /app/code && PYSPARK_PYTHON=/usr/local/bin/python PYSPARK_DRIVER_PYTHON=/usr/local/bin/python /usr/local/bin/python z_main_yesterday.py >> /var/log/cron.log 2>&1
